<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<script>
    var dataLayer = window.dataLayer = window.dataLayer || [];
                        dataLayer.push({
            'event': 'view_detail',
            'google_tag_params': {
                'emailaddress': '3181c4bdb460724797e56a85ba0eff71',
                'emailaddress_raw': 'phuysgu8@gmail.com',
                'sitetype': 'd',
                'dynx_pagetype': 'offerdetail',
                'dynx_itemid': ["342056"],
                'dynx_totalvalue': 355000000            }
        });

    var ga_tracker_name = null;
    function init_ga_name() {
        if (typeof ga === 'function') {
            ga(function() {
                var ga_trackers = ga.getAll();
                ga_tracker_name = ga_trackers[0].get('name');
                console.log('GA: ' + ga_tracker_name);
            });
        } else {
            console.log('GA Not loaded');
            setTimeout(function(){
                init_ga_name();
            }, 500);
        }
    }
    init_ga_name();
</script>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
			new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
			j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
			'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
		})(window,document,'script','dataLayer','GTM-P234VKS');</script>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>➤ Bán xe cũ HYUNDAI I10 1.2 at 2019 tại Hồ Chí Minh - 342056 | ChoXe.net</title>



<script type="application/ld+json">
    {
        "@context": "http://schema.org/",
        "@type": "Product",
        "name": "Xe Cũ Hyundai I10 1.2 At 2019",
        "image": "https://choxe.vn/uploads/auto/202205/342056/gallery/628c5c1fe786e.jpg",
        "description": "Nhu cầu đổi 7 chổ nên bán lại Huyndai Grand i10 2019, bản full sedan, số tự động, màu bạc. Odo xe đã đi được 56.000km.",
        "brand": {
            "@type": "Thing",
            "name": "Hyundai"
        },
        "offers": {
            "@type": "Offer",
            "priceCurrency": "VND",
            "price": "355000000",
            "priceValidUntil": "2023-05-24",
            "itemCondition": "http://schema.org/UsedCondition",
            "availability": "http://schema.org/InStock",
            "seller": {
                "@type": "Person",
                "name": "cao nguyên vũ phát"
            }
        }
    }
</script>

<link rel="canonical" href="https://choxe.vn/xe-cu/ban-xe-cu-hyundai-i10-12-at-2019-tai-ho-chi-minh-342056.html"/>
<meta name="description" content="Giá rẻ: 355 triệu 🚗 Nhu cầu đổi 7 chổ nên bán lại Huyndai Grand i10 2019, bản full sedan, số tự động, màu bạc. Odo xe đã đi được 56.000km. Xe mình..."/>
<!-- <meta name="keywords" content="cho xe oto, chợ xe ô tô, mua ban oto, mua oto, ban oto, mua ô tô, bán ô tô, xe hơi, bốn bánh, chợ xe, cho oto, chợ ô tô, chợ xe hơi"> -->
<meta name="keywords" content="mua bán ô tô, bán xe hơi cũ, chợ xe cũ, đăng tin bán ô tô">
<meta name="author" content="Chợ Xe" />

<meta property="fb:app_id" content="1891135751174652" />
<meta name="msvalidate.01" content="EBFA198867638E16AF90513C35BA4F78" />

<meta property="og:url" content="https://choxe.vn/xe-cu/ban-xe-cu-hyundai-i10-12-at-2019-tai-ho-chi-minh-342056.html"/>
<meta property="og:title" content="Bán xe cũ HYUNDAI I10 1.2 at 2019 tại Hồ Chí Minh - 342056 | ChoXe.net"/>
<meta property="og:description" content="Giá rẻ: 355 triệu. Nhu cầu đổi 7 chổ nên bán lại Huyndai Grand i10 2019, bản full sedan, số tự động, màu bạc. Odo xe đã đi được 56.000km. Xe mình...."/>
<meta property="og:image" content="https://choxe.vn/uploads/auto/202205/342056/gallery/628c5c1fe786e.jpg"/>
<meta property="og:site_name" content="choxe.net"/>
<meta property="og:type" content="website"/>

<meta name="format-detection" content="telephone=no">
<meta name="application-name" content="ChoXe.net"/>
<meta name="apple-mobile-web-app-status-bar-style" content="white"/>
<meta name="apple-mobile-web-app-capable" content="yes"/>
<meta name="mobile-web-app-capable" content="yes"/>



<link rel="apple-touch-icon" sizes="57x57" href="https://choxe.vn/assets/frontend/icons/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="https://choxe.vn/assets/frontend/icons/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="https://choxe.vn/assets/frontend/icons/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="https://choxe.vn/assets/frontend/icons/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="https://choxe.vn/assets/frontend/icons/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="https://choxe.vn/assets/frontend/icons/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="https://choxe.vn/assets/frontend/icons/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="https://choxe.vn/assets/frontend/icons/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="https://choxe.vn/assets/frontend/icons/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"
      href="https://choxe.vn/assets/frontend/icons/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="https://choxe.vn/assets/frontend/icons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="https://choxe.vn/assets/frontend/icons/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="https://choxe.vn/assets/frontend/icons/favicon-16x16.png">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="https://choxe.vn/assets/frontend/icons/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">

<link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i&amp;subset=vietnamese" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="https://choxe.vn/assets/frontend/css/common.css?v=11">

<body class="bd-home-index">
<div th:replace="~{fragments/web-fragments :: header}"></div>

<img src="https://choxe.net/tracking/pixel?object_id=341176&object_type=auto&action=view" alt="" />

<!-- Body -->
<div class="main-content bg-light-blue">
    <div class="container relative">

        <div class="row m0 des-xe">

<!--        <form th:action="@{/Web/chi-tiet-bai-dang}" th:object="item" method="get">-->
            <div class="map-link cbreadcrumb" style="padding-top: 10px">
                <ul itemscope itemtype="http://schema.org/BreadcrumbList">
                    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                        <a class="" href="https://choxe.net/" itemprop="item"><span itemprop="name">Chợ xe</span></a>
                    </li>
                    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                        >                     <a href="https://choxe.net/xe-cu" itemprop="item"><span itemprop="name">Xe cũ</span></a>
                    </li>
                    >                            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                    <a href="https://choxe.net/xe-cu/dong-nai" itemprop="item"><span itemprop="name">Đồng Nai</span></a>
                </li>
                    >                            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                    <a href="https://choxe.net/xe-cu/toyota" itemprop="item"><span itemprop="name">Toyota</span></a>
                </li>
                    >                            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                    <a href="https://choxe.net/xe-cu/toyota/wigo" itemprop="item"><span itemprop="name">Wigo</span></a>
                </li>
                </ul>
            </div>
            <h1 class="title-detail" th:text="${item.title}"></h1>
            <div class="visible-xs price font20" th:text="${item.carNew.price}"></div>
            <div class="row m0 div-mt-mb">
                <div class="col-xs-12 col-sm-4 p0">
<!--                    <div class="list-opt list-opt-detail">-->
<!--                        &lt;!&ndash;-->
<!--                        <a class="compare" href="https://choxe.net/so-sanh?auto_id=341176">-->
<!--                            <i class="icon-sprite-24 icon-compare"></i>-->
<!--                            So Sánh-->
<!--                        </a>-->
<!--                        &ndash;&gt;-->
<!--                        <a class="favor " href="https://choxe.net/tao-danh-sach-yeu-thich?auto_id=341176">-->
<!--                            <i class="icon-sprite-24 icon-heart"></i>-->
<!--                            Yêu thích-->
<!--                        </a>-->

<!--                        <a class="save " href="https://choxe.net/tao-tin-luu?auto_id=341176">-->
<!--                            <i class="icon-sprite-24 icon-save"></i>-->
<!--                            Lưu tin-->
<!--                        </a>-->
<!--                    </div>-->
                </div>

                <div class="col-xs-12 col-sm-8 p0 txr txlmb">
                    <div class="map-link mt10">
<!--                        CAN LAM THEM THUOC TINH NGAY TAO DON HANG DE THEM VAO SPAN DUOI-->
                        <span><span class="hidden-xs">Đăng</span > 2 tuần trước</span> |
                        <span>ID<span class="hidden-xs" th:text="${item.id}"> bán xe</span> </span>
                    </div>
                </div>
            </div>

            <div class="row m0 hidden-xs">
                <div class="detail-xe"><i class="icon-sprite-24 icon-status"></i> Tình trạng: <b th:text="${item.carNew.state}"> </b></div>
                <div class="detail-xe"><i class="icon-sprite-24 icon-km"></i> Km đã đi: <b th:text="${item.carNew.gone}">  km</b></div>
                <div class="detail-xe"><i class="icon-sprite-24 icon-hop-so"></i> Hộp số: <b th:text="${item.carNew.gear}"> </b></div>
                <div class="detail-xe"><i class="icon-sprite-24 icon-nhien-lieu"></i> Nhiên liệu: <b th:text="${item.carNew.fuel}"> </b></div>
                <div class="detail-xe"><i class="icon-sprite-24 icon-ng-ban"></i> Người bán: <b th:text="${item.user.name}"></b></div>
                <div class="detail-xe"><i class="icon-sprite-24 icon-dong-xe"></i> Dòng xe: <b th:text="${item.carNew.form}"> </b></div>
                <div class="detail-xe"><i class="icon-sprite-24 icon-nam-sx"></i> Năm sản xuất: <b th:text="${item.carNew.create_car}"> </b></div>
                <div class="detail-xe"><i class="icon-sprite-24 icon-dan-dong"></i> Hãng: <b th:text="${item.carNew.brand.name}"></b></div>
                <div class="detail-xe"><i class="icon-sprite-24 icon-mau-xe"></i> Thành phố: <b th:text="${item.carNew.city.name}"> </b></div>
                <div class="detail-xe"><i class="icon-sprite-24 icon-xuat-xu"></i> Xuất xứ: <b th:text="${item.carNew.nation}"></b></div>
            </div>

<!--        </form>-->
        </div>

        <div class="row m0 mt30">
            <div class="col-right pr30" id='col-left'>
                <div class="relamb bg-slider-mb bg-white-mb">
                    <div class="slider-small-gallery" id="slider-small-gallery">
                        <div class="item-slider"  th:each="pic : ${item.carNew.picCars}">
                            <img th:src="'data:image/png;base64,' + ${pic.name}" alt="Xe Cũ Toyota Wigo 2018 2018 341176 thumb 1">
                        </div>
                    </div>
                    <div class="slider-big-gallery" id="slider-big-gallery" >
                        <div class="item-slider" th:each="pic : ${item.carNew.picCars}">
                            <img th:src="'data:image/png;base64,' + ${pic.name}" alt="Xe Cũ Toyota Wigo 2018 2018 341176 1">
                        </div>
                    </div>
                </div>
                <!-- End Gallery slider img -->

                <div class="row m0 visible-xs mt0 p15mb bg-white-mb">
                    <div class="mb-call-button visible-xs">
                        <a class="btn btn-orange-48 visible-xs call-button" href="tel: 0337610104" data-object-id="341176" data-object-type="auto" onclick="ga(ga_tracker_name + '.send', 'event', 'Tin', 'Xem thông tin liên hệ', '341176'); dataLayer.push({'event':'Button_GoiDien'});"><i class="icon-sprite-24 icon-phone-white"></i> GỌI  0337610104</a>
                    </div>

                    <div class="row m0">
                        <div class="detail-xe"><i class="icon-sprite-24 icon-status"></i> Tình trạng: <b th:text="${item.carNew.state}"> </b></div>
                        <div class="detail-xe"><i class="icon-sprite-24 icon-km"></i> Km đã đi: <b th:text="${item.carNew.gone}">  km</b></div>
                        <div class="detail-xe"><i class="icon-sprite-24 icon-hop-so"></i> Hộp số: <b th:text="${item.carNew.gear}"> </b></div>
                        <div class="detail-xe"><i class="icon-sprite-24 icon-nhien-lieu"></i> Nhiên liệu: <b th:text="${item.carNew.fuel}"> </b></div>
                        <div class="detail-xe"><i class="icon-sprite-24 icon-ng-ban"></i> Người bán: <b th:text="${item.user.name}"> </b></div>
                        <div class="detail-xe"><i class="icon-sprite-24 icon-dong-xe"></i> Dòng xe: <b th:text="${item.carNew.form}"> </b></div>
                        <div class="detail-xe"><i class="icon-sprite-24 icon-nam-sx"></i> Năm sản xuất: <b th:text="${item.carNew.create_car}"> </b></div>
                        <div class="detail-xe"><i class="icon-sprite-24 icon-dan-dong"></i> Hãng: <b th:text="${item.carNew.brand.name}"></b></div>
                        <div class="detail-xe"><i class="icon-sprite-24 icon-mau-xe"></i> Thành phố: <b th:text="${item.carNew.city.name}"> </b></div>
                        <div class="detail-xe"><i class="icon-sprite-24 icon-xuat-xu"></i> Xuất xứ: <b th:text="${item.carNew.nation}"></b></div>
                    </div>

                    <hr class="mb0">
                </div>

                <div class="clearfix"></div>
                <div class="mo-ta p15mb pt20mb bg-white-mb mt0mb">
                    <div class="tit-mo-ta">Mô tả xe</div>
                    <div class="mt10" th:text="${item.description}"></div>
                </div>

                <!--
                <div class="txc mt15 p15mb pt15mb mt0mb bg-white-mb pb20mb">
                    <a class="btn btn-see-more" href="#">
                        <i class="icon-sprite-24 icon-plus"></i>
                        XEM THÊM MÔ TẢ CHI TIẾT
                    </a>
                </div>
                -->

<!--                <div class="list-social visible-xs bg-white-mb pb20mb row m0">-->

<!--                    <a class="" href="mailto:?&subject=Xe Cũ Toyota Wigo 2018 2018">-->
<!--                        <i class="icon-sprite-24 icon-email"></i>-->
<!--                        Email-->
<!--                    </a>-->

<!--                    <a class="" href="https://www.facebook.com/sharer/sharer.php?u=https://choxe.net/xe-cu/ban-xe-cu-toyota-wigo-2018-2018-tai-dong-nai-341176.html" target="_blank">-->
<!--                        <i class="icon-sprite-24 icon-fb"></i>-->
<!--                        Facebook-->
<!--                    </a>-->

<!--                    <a class="" href="https://plus.google.com/share?url=https://choxe.net/xe-cu/ban-xe-cu-toyota-wigo-2018-2018-tai-dong-nai-341176.html" target="_blank">-->
<!--                        <i class="icon-sprite-24 icon-gl"></i>-->
<!--                        Google+-->
<!--                    </a>-->
<!--                </div>-->


<!--                <div class="list-social mt5 p15mb hidden-xs">-->
<!--                    <a class="" href="javascript:window.print();">-->
<!--                        <i class="icon-sprite-24 icon-printer"></i>-->
<!--                        In-->
<!--                    </a>-->

<!--                    <a class="" href="mailto:?&subject=Xe Cũ Toyota Wigo 2018 2018">-->
<!--                        <i class="icon-sprite-24 icon-email"></i>-->
<!--                        Chia sẻ qua Email-->
<!--                    </a>-->

<!--                    <a class="" href="https://www.facebook.com/sharer/sharer.php?u=https://choxe.net/xe-cu/ban-xe-cu-toyota-wigo-2018-2018-tai-dong-nai-341176.html" target="_blank">-->
<!--                        <i class="icon-sprite-24 icon-fb"></i>-->
<!--                        Chia sẻ qua Facebook-->
<!--                    </a>-->

<!--                    <a class="" href="https://plus.google.com/share?url=https://choxe.net/xe-cu/ban-xe-cu-toyota-wigo-2018-2018-tai-dong-nai-341176.html" target="_blank">-->
<!--                        <i class="icon-sprite-24 icon-gl"></i>-->
<!--                        Chia sẻ qua Google+-->
<!--                    </a>-->
<!--                </div>-->

                <div class="box-filter right-detail mt20">
                    <form method="post" action="https://choxe.net/quan-tam" enctype="multipart/form-data" class="validate-form">
                        <div class="pl15 pr15">
                            <input type="hidden" name="auto_id" value="341176" />
                            <div class="txt-white">Tôi quan tâm đến xe này</div>
                            <div>
                                <input type="text" class="form-control" placeholder="Họ tên" name="fullname" value="Huy Phạm" />
                            </div>
                            <div class="row row-input">
                                <div class="col-md-6 col-sm-6">
                                    <input type="text" class="form-control" placeholder="Điện thoại" name="phone" value="" />
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <input type="text" class="form-control" placeholder="Email" name="email" value="phuysgu8@gmail.com" />
                                </div>
                            </div>
                            <style type="text/css">
                                @media (min-width:768px) {
                                    .row-input .col-md-6:first-child {
                                        padding-right: 5px;
                                    }
                                    .row-input .col-md-6:last-child {
                                        padding-left: 5px;
                                    }
                                }
                                @media (max-width:992px){
                                    .row-input button {
                                        margin-bottom: 10px;
                                    }
                                    .row-input div:last-child button {
                                        margin-bottom: 0;
                                    }
                                }
                            </style>
                            <label class="lbinput lb-white mt10">
                                <input type="hidden" name="receive_news" value="N" />
                                <input type="checkbox" name="receive_news" class="icheck" value="Y" /> Cập nhật xe tương tự qua Email
                            </label>
                        </div>
                        <div class="pl15 pr15">
                            <div class="row row-input">
                                <div class="col-md-4 col-sm-12">
                                    <button type="submit" name="type" value="call" class="btn btn-orange-48 mb-10 font16">GỌI NGAY CHO TÔI</button>
                                </div>
                                <div class="col-md-4 col-sm-6">
                                    <button type="submit" name="type" value="email" class="btn btn-blue-48" href="#">EMAIL CHI TIẾT CHO TÔI</button>
                                </div>
                                <div class="col-md-4 col-sm-6">
                                    <button type="submit" name="type" value="test_drive" class="btn btn-blue2-48" data-toggle="modal" data-target="#myModal2">ĐĂNG KÝ LÁI THỬ XE</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>


            <div class="col-left fix-col-mb mt15mb" id="col-fix">
                <div class="box-info-nban row m0" style="padding: 2px; border-radius: 0; margin-top: 0 !important; background: #8ba7b2;">
                    <div class="box-gia-ban hidden-xs" style="background: #f5f5f5; border: 0; border-bottom: 1px solid #ccc; padding: 10px 15px; ">
                        <!--                        Giá bán: <br>-->
                        <span class="txt-gia" th:text="${item.carNew.price} + ' Triệu'" ></span>

                        <a class="btn btn-orange-40 mt15 hidden-xs" id="show-hide"  data-object-id="341176" data-object-type="auto" onclick="ga(ga_tracker_name + '.send', 'event', 'Tin', 'Xem thông tin liên hệ', '341176'); dataLayer.push({'event':'Button_XemDienThoaiLienHe'});">
                            Xem số điện thoại
                        </a>
                        <div class="deta-info" style="margin-bottom: 0; padding-top: 20px; border-top: 1px solid #ccc;">
                            <p class="sp-txt relative" th:text="${item.user.email}"><i class="icon-sprite-24 icon-address-big"></i></p>
                            <p class="relative" th:text="${item.user.sdt}"><i class="icon-sprite-24 icon-phone"></i> </p>
                        </div>
                    </div>
                    <div class="bg-white"  style="width: 100%; padding: 10px 15px; border-radius: 0;">
                        <div class="txt-info" style="padding-left: 70px; height: 75px;">
                            <a class="" href="https://choxe.net/xe?u=341028">
                                <img src="https://choxe.net//assets/frontend/img/avatar_default.png" height="60" width="60" />
                            </a>
                            <div class="" style="margin-top: -15px;">
                                <a class="" href="#" th:text="${item.user.name}" ></a>
                                <div class="rating">
                                    <span class="star star-yellow"></span>
                                    <span class="star star-yellow"></span>
                                    <span class="star star-yellow"></span>
                                    <span class="star star-half"></span>
                                    <span class="star star-grey"></span>
                                </div>
                            </div>
                        </div>
                        <div class="short-info ">
                            <p>
                                <span class="sp-txt" th:text="${item.carNew.city.name}"><i class="icon-sprite-24 icon-address-big"></i></span>
                            </p>
                        </div>
                        <!--                            <div class="txc mt10">-->
                        <!--                                <a class="txt-blue font16mb" href="#">Xem thông tin chi tiết »</a>-->
                        <!--                            </div>-->
                    </div>
                </div>
            </div>
        </div>

        <div class="row m0 mt15 mt0mb">

            <!-- Column Right -->
            <div class="col-right pr30">

                <!-- Box Xe bán gấp -->
                <div class="deal table-xe">
                    <div class="title-underline" style="overflow: hidden; text-overflow: ellipsis;">Xe tương tự <span class="hidden-xs" th:text="${item.carNew.brand.name} + ' ' + ${item.carNew.name} + ' ' + ${item.carNew.create_car}">Xe Cũ Toyota Wigo 2018 2018</span></div>
                    <table class="table list-news">

                        <tr th:each="item : ${news}">
                            <td class="row news  items-341228 pos-0">
                                <div class="news-detail">
                                    <div class="info-left">
                                        <a th:href="@{'/Web/chi-tiet-bai-dang/' + ${item.id}}" class="img">
                                            <img class=""
                                                 th:src="'data:image/jpg;base64,' + ${item.carNew.picCars[0].name}"
                                                 width="175" height="118" alt="Xe Cũ "/></a>
                                        <div class="block-txt-mb">
                                            <a class="tit-news" th:href="@{'/Web/chi-tiet-bai-dang/' + ${item.id}}">
                                                <h2 th:text="${item.title}"></h2>
                                            </a>
                                            <div class="price visible-xs" th:text="${item.carNew.price}"> </div>

                                            <div class="row" style="margin: 0">
                                                <div class="col-xs-3 col-sm-3 list-char" th:text="${item.carNew.state}">
                                                    <i class="icon-24 icon-sprite-24 icon-status"></i> </div>

                                                <div class="col-xs-3 col-sm-3 list-char" th:text="${item.carNew.create_car}">
                                                    <i class="icon-24 icon-sprite-24 icon-calendar2"></i> </div>

                                                <div class="col-xs-3 col-sm-3 list-char" th:text="${item.carNew.gone}">
                                                    <i class="icon-24 icon-sprite-24 icon-speed2"></i>
                                                    <span class="hidden-xs"> km</span>
                                                </div>

                                                <div class="col-xs-3 col-sm-3 list-char" th:text="${item.carNew.gear}">
                                                    <i class="icon-24 icon-sprite-24 icon-auto2"></i> </div>
                                            </div>

                                            <div class="city visible-xs" th:text="${item.carNew.city.name}"><i class="icon-24 icon-sprite-24 icon-address"></i></div>
                                            <hr>
                                            <div class="old-news">Đăng 4 ngày trước</div>
                                        </div>
                                        <div class="row list-opt hidden-xs">
                                            <!--                    <div class="col-xs-3 col-sm-3 p0">-->
                                            <!--                        <a class="compare" href="-->
                                            <!--">-->
                                            <!--                            <i class="icon-sprite-24 icon-compare"></i>-->
                                            <!--                            So Sánh-->
                                            <!--                        </a>-->
                                            <!--                    </div>-->

                                            <div class="col-xs-3 col-sm-5 p0">
                                                <button class="btn-show-phone-list" onclick="showPhoneNumner(341635, '0945609563')" id="salon_id_341635">
                                                    Xem số điện thoại
                                                </button>
                                            </div>

                                            <div class="col-xs-3 col-sm-3 p0">
                                                <a href="danh-sach-yeu-thich.html?auto_id=341635" class="favor" data-toggle="tooltip" title="Thích loại xe này" data-placement="bottom">
                                                    <i class="icon-sprite-24 icon-heart"></i> Yêu thích
                                                </a>
                                            </div>
                                            <div class="col-xs-3 col-sm-3 p0">
                                                <a href="tin-luu.html?auto_id=341635" class="save" data-toggle="tooltip" title="Lưu tin này" data-placement="bottom">
                                                    <i class="icon-sprite-24 icon-save"></i> Lưu tin
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="price-addr txr hidden-xs">
                                        <div class="price" th:text="${item.carNew.price}"></div>
                                        <div class="city" th:text="${item.carNew.city.name}"><i class="icon-24 icon-sprite-24 icon-address"></i></div>
                                    </div>

                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <!-- End Box xe bán gấp -->

                <!-- Xem xe theo tỉnh thành -->
                <!-- Xem xe theo tỉnh thành -->
                <div class="deal mt25 tinh-thanh hidden-xs">
                    <div class="title-underline">Các tỉnh thành khác</div>
                    <div class="row m0 mt20 mt10mb">
                        <div class="col-xs-6 col-sm-4 p0 mt5">
                            <a class="city" th:each="province : ${provinces}" th:href="@{'/Web/tinh-thanh/'+ ${province.code} +'/'+${item.carNew.brand.name} +'/'+${item.carNew.name}}"><i class="icon-24 icon-sprite-24 icon-address"></i><h3 th:text="${item.carNew.brand.name} + ' ' + ${item.carNew.name} + ' ' + ${province.name}"></h3></a>
                        </div>
                    </div>

                    <hr class="visible-xs m0 mt5">

                    <div class="a-see-all">
                        <a class="" th:href="@{/Web/tinh-thanh}">Xem tất cả Tỉnh thành »</a>
                    </div>
                </div>
                <!-- End Xem xe theo tỉnh thành -->                <!-- End Xem xe theo tỉnh thành -->

            </div>
            <!-- End Column Right -->

            <!-- Column Left -->
            <div class="col-left hidden-xs">
                <div class="quick-filter mt15 hidden-xs">
                    <div class="title-bg">Dòng xe của Toyota</div>
                    <div class="list-tit list-loai-xe" style="padding-bottom: 0;">
                        <ul class="list-link">
                            <li style="text-align: left">
                                <span style="color: #999;">→</span> <a href="https://choxe.net/xe/toyota/innova">Toyota Innova</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Box advertising -->
                <div class="bg-advertise mt25" >
                    <script async='async' src='https://www.googletagservices.com/tag/js/gpt.js'></script>
                    <script>
  var googletag = googletag || {};
  googletag.cmd = googletag.cmd || [];
</script>

                    <script>
  googletag.cmd.push(function() {
    googletag.defineSlot('/57746206/Oto24H_Background_Left', [160, 600], 'div-gpt-ad-1491596558857-0').addService(googletag.pubads());
    googletag.pubads().enableSingleRequest();
    googletag.enableServices();
  });
</script>
                    <!-- /57746206/Oto24H_Background_Left -->
                    <div id='div-gpt-ad-1491596558857-0' style='height:600px; width:160px;'>
                        <script>
googletag.cmd.push(function() { googletag.display('div-gpt-ad-1491596558857-0'); });
</script>
                    </div>	</div>
                <!-- End Box advertising -->
            </div>
            <!-- End Column Left -->


        </div>

    </div>

    <!-- Slider Salon nổi bật -->
    <!-- Slider Salon nổi bật -->
    <div class="slider-salon hidden-xs">
        <div class="container">
            <div class="title-white">NGƯỜI BÁN Ô TÔ NỔI BẬT</div>
            <div class="relative">
                <div class="slider-salon-noi slider mt15">
                </div>
                <div class="bg-blur"></div>
            </div>
        </div>
    </div>
    <!-- End Slider Salon nổi bật -->	<!-- End Slider Salon nổi bật -->

</div>
<!-- End Body -->


<div th:replace="~{fragments/web-fragments :: footer}"></div>

<div id="btn-top">
    <i class="icon-sprite-24 icon-to-top"></i>
</div>
<!--    CSS-->
<link rel="stylesheet " type="text/css " href="/assets/frontend/css/choxef500.css?v=13">

<script type="text/javascript ">
        var bookmark_ids = [];
        var wishlist_ids = [];
    </script>

<script src="/assets/frontend/js/common30f4.js?v=3"></script>
<script src="/assets/frontend/js/js_mobile3860.js?v=1"></script>
<script src="/assets/frontend/js/jquery.mask.min.js"></script>
<script src="/assets/frontend/js/sortable3860.js?v=1"></script>
<script src="/assets/frontend/js/choxe0e34.js?v=33"></script>
<script src="https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=51vkdv3kfo80drfju5t1s7u9eae67dqqytn7k1mdleidgi2p"></script>



</body>
</html>