<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<div th:replace="~{fragments/web-fragments :: head-web}"></div>

<body class="bd-home-index">
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P234VKS"
            height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>

<div th:replace="~{fragments/web-fragments :: header}"></div>
<!-- Body -->
<main class="main-content bg-light-blue">
    <div class="container">
        <div class="row m0">
            <!-- Column Left -->
            <div th:replace="~{fragments/web-fragments :: aside}"></div>
            <!-- End Column Left -->
            <!-- Column Right -->
            <div class="col-right pl30">
                <div class="hidden-xs">
                    <!-- Box Hãng xe -->
                    <div th:replace="~{fragments/web-fragments :: hangXe}"></div>
                    <!-- End Box hãng xe -->
                    <!-- Box Xe bán gấp -->
                    <p th:text="${thongbao}"></p>
                    <div id="block-2nd" th:replace="~{fragments/web-fragments :: boxBanXeGap}"></div>
                    <!-- End Box xe bán gấp -->
                </div>
            </div><!-- End Column Right -->
        </div>
    </div>
</main>
<div th:replace="~{fragments/web-fragments :: footer}"></div>


<div id="btn-top">
    <i class="icon-sprite-24 icon-to-top"></i>
</div>

<!--    CSS-->
<link rel="stylesheet " type="text/css " href="/assets/frontend/css/choxef500.css?v=13">

<script type="text/javascript ">
        var bookmark_ids = [];
        var wishlist_ids = [];

</script>
<script src="/assets/frontend/js/common30f4.js?v=3"></script>
<script src="/assets/frontend/js/js_mobile3860.js?v=1"></script>
<script src="/assets/frontend/js/jquery.mask.min.js"></script>
<script src="/assets/frontend/js/sortable3860.js?v=1"></script>
<script src="/assets/frontend/js/choxe0e34.js?v=33"></script>
<script src="https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=51vkdv3kfo80drfju5t1s7u9eae67dqqytn7k1mdleidgi2p"></script>


</body>

</html>