<!DOCTYPE html>
<html lang="" xmlns:th="http://www.w3.org/1999/xhtml">

<div th:replace="~{fragments/web-fragments :: head-web}"></div>

<body class="bd-home-index">
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P234VKS"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>

<!-- Header PC-->
<div class="header header-pc">
    <div class="header-top">
        <div class="container p17">
            <div class="col-left">
                <a class="logo" th:href="@{/index}"></a>
            </div>

            <div class="col-right">
                <ul class="menu-top row m0 p0">
                    <li class="sl-khu-vuc">

                    </li>
                    <li class="list-menu-top menu-home">
                        <a class="" th:href="@{/index}"><i class="icon-sprite-24 icon-home"></i></a>
                    </li>
                    <li class="list-menu-top"><a th:href="@{/Web/dang-tin}" class="">Đăng tin bán ô tô</a></li>

                    <!--                        <li class="dang-nhap fr ml25"><a class="" href="https://choxe.net/dang-ky">Đăng ký</a></li>-->
                    <li class="dang-ky fr"><a class="" th:href="@{/login}"><i class="icon-sprite-24 icon-dky"></i>Đăng nhập</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="header-mid">
        <div class="container">
            <div class="col-xs-5 col-sm-5 col-md-5 p0">
                <div class="box-search">
                    <form action="https://choxe.net/tim-xe/">
                        <input type="text" name="q" class="form-control input-search" placeholder="Tìm kiếm" value="" />
                        <button class="btn-search"><i class="icon-sprite-24 icon-search"></i></button>
                    </form>
                </div>
            </div>
            <div class="col-xs-7 col-sm-7 col-md-7 p0 txr">-->
                <a class="seen-favo" href="tin-luu.html"><i class="icon-40-save"></i> <span>Tin đã lưu</span></a>
                <a class="seen-favo" href="danh-sach-yeu-thich.html"><i class="icon-40-heart"></i> <span>Xe yêu thích</span></a>
                <a class="seen-favo" href="salon-moi-gioi.html"><i class="icon-40-oto"></i> <span>Dành cho Salon, Môi giới</span></a>
            </div>
        </div>
    </div>

    <!--        <div class="header-menu">-->
    <!--            <div class="container p0">-->
    <!--                <nav>-->
    <!--                    <ul>-->
    <!--                        <li><a href="https://choxe.net/danh-sach-dai-ly">Tìm Salon</a></li>-->
    <!--                        &lt;!&ndash; <li><a href="https://choxe.net/blog/category/bang-gia-xe-o-to" target="_blank">Bảng giá xe ô tô</a></li> &ndash;&gt;-->

    <!--                        <li>-->
    <!--                            <a href="https://choxe.net/xe">Bảng giá xe ô tô</a>-->
    <!--                            <ul>-->
    <!--                                <li><a href="https://choxe.net/blog/bang-gia-xe-toyota"> Giá xe Toyota</a></li>-->
    <!--                                <li><a href="https://choxe.net/blog/bang-gia-xe-mercedes"> Giá xe Mercedes Benz</a></li>-->
    <!--                                <li><a href="https://choxe.net/blog/bang-gia-xe-kia"> Giá xe Kia</a></li>-->
    <!--                                <li><a href="https://choxe.net/blog/bang-gia-xe-mazda"> Giá xe Mazda</a></li>-->
    <!--                                <li><a href="https://choxe.net/blog/bang-gia-xe-ford"> Giá xe Ford</a></li>-->
    <!--                                <li><a href="https://choxe.net/blog/bang-gia-xe-oto-huyndai"> Giá xe Hyundai</a></li>-->
    <!--                            </ul>-->
    <!--                        </li>-->

    <!--                        <li>-->
    <!--                            <a href="https://choxe.net/xe-cu/toyota">Giá xe Toyota</a>-->
    <!--                            <ul>-->
    <!--                                <li><a href="https://choxe.net/xe-cu/toyota/vios"> Giá xe Toyota Vios cũ</a></li>-->
    <!--                                <li><a href="https://choxe.net/xe-cu/toyota/innova"> Giá xe Toyota Innova cũ</a></li>-->
    <!--                                <li><a href="https://choxe.net/xe-cu/toyota/fortuner"> Giá xe Toyota Fortuner cũ</a></li>-->
    <!--                                <li><a href="https://choxe.net/xe-cu/toyota/camry"> Giá xe Toyota Camry cũ</a></li>-->

    <!--                            </ul>-->
    <!--                        </li>-->

    <!--                        <li>-->
    <!--                            <a href="https://choxe.net/xe-cu/mercedes-benz">Giá xe Mercedes</a>-->
    <!--                            <ul>-->
    <!--                                <li><a href="https://choxe.net/xe-cu/mercedes-benz/c?q=c200"> Giá xe Mercedes C200 cũ</a></li>-->
    <!--                                <li><a href="https://choxe.net/xe-cu/mercedes-benz/c?q=c250"> Giá xe Mercedes C250 cũ</a></li>-->
    <!--                                <li><a href="https://choxe.net/xe-cu/mercedes-benz?q=e200"> Giá xe Mercedes E200 cũ</a></li>-->
    <!--                                <li><a href="https://choxe.net/xe-cu/mercedes-benz?q=e250"> Giá xe Mercedes E250 cũ</a></li>-->
    <!--                                <li><a href="https://choxe.net/xe-cu/mercedes-benz/s"> Giá xe Mercedes S400 cũ</a></li>-->

    <!--                            </ul>-->
    <!--                        </li>-->

    <!--                        <li>-->
    <!--                            <a href="https://choxe.net/xe-cu/mazda">Giá xe Mazda</a>-->
    <!--                            <ul>-->
    <!--                                <li><a href="https://choxe.net/xe-cu/mazda/3"> Giá xe Mazda 3 cũ</a></li>-->
    <!--                                <li><a href="https://choxe.net/xe-cu/mazda/cx-5"> Giá xe Mazda CX-5 cũ</a></li>-->
    <!--                                <li><a href="https://choxe.net/xe-cu/mazda/6"> Giá xe Mazda 6 cũ</a></li>-->
    <!--                                <li><a href="https://choxe.net/xe-cu/mazda/bt-50"> Giá xe Mazda BT-50 cũ</a></li>-->
    <!--                                <li><a href="https://choxe.net/xe-cu/mazda/2"> Giá xe Mazda 2 cũ</a></li>-->

    <!--                            </ul>-->
    <!--                        </li>-->

    <!--                        <li>-->
    <!--                            <a href="https://choxe.net/xe-cu/kia">Giá xe KIA</a>-->
    <!--                            <ul>-->
    <!--                                <li><a href="https://choxe.net/xe-cu/kia/morning"> Giá xe Kia Morning cũ</a></li>-->
    <!--                                <li><a href="https://choxe.net/xe-cu/kia/cerato"> Giá xe Kia Cerato cũ</a></li>-->
    <!--                                <li><a href="https://choxe.net/xe-cu/kia/sorento"> Giá xe Kia Sorento cũ</a></li>-->
    <!--                                <li><a href="https://choxe.net/xe-cu/kia/optima"> Giá xe Kia Optima cũ</a></li>-->
    <!--                            </ul>-->
    <!--                        </li>-->

    <!--                        <li>-->
    <!--                            <a href="https://choxe.net/xe-cu/hyundai">Giá xe Hyundai</a>-->
    <!--                            <ul>-->
    <!--                                <li><a href="https://choxe.net/xe-cu/hyundai/i10"> Giá xe Hyundai i10 cũ</a></li>-->
    <!--                                <li><a href="https://choxe.net/xe-cu/hyundai/elantra"> Giá xe Hyundai Elantra cũ</a></li>-->
    <!--                                <li><a href="https://choxe.net/xe-cu/hyundai/accent"> Giá xe Hyundai Accent cũ</a></li>-->
    <!--                                <li><a href="https://choxe.net/xe-cu/hyundai/santa-fe"> Giá xe Hyundai Santa Fe cũ</a></li>-->
    <!--                                <li><a href="https://choxe.net/xe-cu/hyundai/tucson"> Giá xe Hyundai Tucson cũ</a></li>-->
    <!--                            </ul>-->
    <!--                        </li>-->

    <!--                        <li>-->
    <!--                            <a href="https://choxe.net/xe-cu/ford">Giá xe Ford</a>-->
    <!--                            <ul>-->
    <!--                                <li><a href="https://choxe.net/xe-cu/ford/ranger"> Giá xe Ford Ranger cũ</a></li>-->
    <!--                                <li><a href="https://choxe.net/xe-cu/ford/ecosport"> Giá xe Ford Ecosport cũ</a></li>-->
    <!--                                <li><a href="https://choxe.net/xe-cu/ford/everest"> Giá xe Ford Everest cũ</a></li>-->
    <!--                                <li><a href="https://choxe.net/xe-cu/ford/explorer"> Giá xe Ford Explorer cũ</a></li>-->
    <!--                                <li><a href="https://choxe.net/xe-cu/ford/transit"> Giá xe Ford Transit cũ</a></li>-->
    <!--                            </ul>-->
    <!--                        </li>-->

    <!--                        <li>-->
    <!--                            <a href="https://choxe.net/xe-cu/ford">Giá xe Honda</a>-->
    <!--                            <ul>-->
    <!--                                <li><a href="https://choxe.net/xe-cu/honda/city"> Giá xe Honda City cũ</a></li>-->
    <!--                                <li><a href="https://choxe.net/xe-cu/honda/cr-v"> Giá xe Honda CR-V cũ</a></li>-->
    <!--                                <li><a href="https://choxe.net/xe-cu/honda/civic"> Giá xe Honda Civic cũ</a></li>-->
    <!--                                <li><a href="https://choxe.net/xe-cu/honda/accord"> Giá xe Honda Accord cũ</a></li>-->
    <!--                            </ul>-->
    <!--                        </li>-->

    <!--                        <li>-->
    <!--                            <a href="https://choxe.net/xe-cu/truck">Giá xe tải cũ</a>-->
    <!--                            <ul>-->
    <!--                                <li><a href="https://choxe.net/xe-cu/truck/hyundai"> Giá xe tải Hyundai cũ</a></li>-->
    <!--                                <li><a href="https://choxe.net/xe-cu/truck/isuzu"> Giá xe tải Isuzu cũ</a></li>-->
    <!--                                <li><a href="https://choxe.net/xe-cu/truck/suzuki"> Giá xe tải Suzuki cũ</a></li>-->
    <!--                                <li><a href="https://choxe.net/xe-cu/truck/hino"> Giá xe tải Hino cũ</a></li>-->
    <!--                            </ul>-->
    <!--                        </li>-->

    <!--                        <li>-->
    <!--                            <a href="https://choxe.net/xe/truck">Bảng giá xe tải</a>-->
    <!--                            <ul>-->
    <!--                                <li><a href="https://choxe.net/xe/truck/isuzu"> Bảng giá xe tải Isuzu</a></li>-->
    <!--                                <li><a href="https://choxe.net/xe/truck/hino"> Bảng giá xe tải Hino</a></li>-->
    <!--                                <li><a href="https://choxe.net/xe/truck/hyundai"> Bảng giá xe tải Hyundai</a></li>-->
    <!--                                <li><a href="https://choxe.net/xe/truck/kia"> Bảng giá xe tải Kia</a></li>-->
    <!--                                <li><a href="https://choxe.net/xe/truck/thaco"> Bảng giá xe tải Thaco</a></li>-->
    <!--                            </ul>-->
    <!--                        </li>-->
    <!--                    </ul>-->
    <!--                </nav>-->
    <!--            </div>-->
    <!--        </div>-->

    <!-- Menu thu gọn  -->
    <div class="short-menu">
        <div class="white-menu">
            <div class="container">
                <div class="">
                    <ul class="menu-top row m0 p0">
                        <li class="list-menu-top">
                            <a class="logo" th:href="@{/index}"></a>
                        </li>
                        <li class="sl-khu-vuc">

                        </li>
                        <li class="list-menu-top menu-home">
                            <a class="" th:href="@{/index}"><i class="icon-sprite-24 icon-home"></i></a>
                        </li>
                        <!--								<li class="list-menu-top"><a href="-->
                        <!--" class="">Muốn mua ôtô</a></li>-->
                        <li class="list-menu-top"><a th:href="@{/Web/dang-tin}" class="">Đăng tin bán ô tô</a></li>
                        <!--<li class="list-menu-top"><a href="https://choxe.net/so-sanh" class="">So sánh xe</a></li>-->
                        <!--								<li class="list-menu-top"><a href="-->
                        <!--" class="">Học lái xe</a></li>-->
                        <li class="list-menu-top w180">
                            <div class="box-search">
                                <form action="https://choxe.net/tim-xe">
                                    <input type="text" name="q" class="form-control input-search" placeholder="Tìm kiếm" value="">
                                    <button class="btn-search"><i class="icon-sprite-24 icon-search"></i></button>
                                </form>
                            </div>
                        </li>
                        <li class="list-menu-top fr login-up">
                            <ul class="">
                                <li class="dang-ky"><a class="" th:href="@{/login}"><i class="icon-sprite-24 icon-dky"></i>Đăng nhập</a></li>
                                <!--                                    <li class="dang-nhap"><a class="" href="https://choxe.net/dang-ky">Đăng ký</a></li>-->
                            </ul>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Menu thu gọn  -->

</div>
<!-- End Header PC-->


<!-- Header Mobile -->
<div class="header-mobile">

    <nav class="nav-mobile">
        <a class="btn-open-menu" data-toggle="modal" data-target="#menu_left">
            <i class="icon-sprite-24 icon-bars"></i>
        </a>
        <a class="logo" href="#"></a>
        <a class="icon-right" data-toggle="modal" data-target="#menu_right">
            <i class="icon-sprite-24 icon-dky"></i>
            <span class="caret"></span>
        </a>
    </nav>

    <!-- Modal Menu Left -->
    <!--        <div class="modal left fade modal-menu" id="menu_left" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">-->
    <!--            <div class="modal-dialog" role="document">-->
    <!--                <div class="modal-content">-->
    <!--                    <div class="modal-header">-->
    <!--                        &lt;!&ndash; <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button> &ndash;&gt;-->
    <!--                        <ul class="list-menu-mb">-->
    <!--                            <li><a class="" href="#"><i class="icon-sprite-24 icon-home"></i> Trang chủ Chợ xe a</a></li>-->
    <!--                            &lt;!&ndash;								<li><a class="" href="&ndash;&gt;-->
    <!--                            &lt;!&ndash;"><i class="icon-sprite-24 icon-oto-small"></i> Muốn mua ô tô</a></li>&ndash;&gt;-->
    <!--                            <li><a class="" th:href="@{/Web/dang-tin}"><i class="icon-sprite-24 icon-dtin"></i> Đăng tin bán ô tô</a></li>-->
    <!--                            <li><a class="txt-red" href="https://choxe.net/deal-oto-hot"><i class="icon-sprite-24 icon-hotdeal-red"></i> Deal HOT</a></li>-->
    <!--                            &lt;!&ndash;<li><a class="" href="https://choxe.net/so-sanh"><i class="icon-sprite-24 icon-ss-small"></i> So sánh xe</a></li>&ndash;&gt;-->
    <!--                            &lt;!&ndash;								<li><a class="" href="&ndash;&gt;-->
    <!--                            &lt;!&ndash;"><i class="icon-sprite-24 icon-volang"></i> Học lái xe</a></li>&ndash;&gt;-->
    <!--                            <li><a class="" href="https://choxe.net/danh-sach-dai-ly"><i class="icon-sprite-24 icon-salon-small"></i> Tìm Salon</a></li>-->
    <!--                            <li><a class="" href="https://choxe.net/danh-sach-moi-gioi"><i class="icon-sprite-24 icon-moi-gioi"></i> Tìm Môi giới</a></li>-->
    <!--                            &lt;!&ndash;								<li><a class="" href="&ndash;&gt;-->
    <!--                            &lt;!&ndash;"><i class="icon-sprite-24 icon-tso-small"></i> Thông số kỹ thật</a></li>&ndash;&gt;-->
    <!--                            &lt;!&ndash;								<li><a class="" href="&ndash;&gt;-->
    <!--                            &lt;!&ndash;"><i class="icon-sprite-24 icon-help-small"></i> Hưỡng dẫn mua xe</a></li>&ndash;&gt;-->
    <!--                        </ul>-->
    <!--                    </div>-->

    <!--                    <div class="modal-header">-->

    <!--                        <ul class="list-menu-mb">-->
    <!--                            <li><a class="" href="https://choxe.net/tin-luu"><i class="icon-sprite-24 icon-save-small"></i> Tin bán xe đã lưu <span class="txt-num"></span></a></li>-->
    <!--                            <li><a class="" href="https://choxe.net/danh-sach-yeu-thich"><i class="icon-sprite-24 icon-heart-small"></i> Xe yêu thích <span class="txt-num"></span></a></li>-->
    <!--                            <li><a class="" href="https://choxe.net/xem-gan-day"><i class="icon-sprite-24 icon-seen-small"></i> Đã xem gần đây <span class="txt-num"></span></a></li>-->
    <!--                        </ul>-->
    <!--                    </div>-->

    <!--                    <div class="md-footer">-->
    <!--                        <a class="" href="https://choxe.net/salon-moi-gioi"><i class="icon-sprite-24 icon-salon-blue"></i> Dành cho Salon, Môi giới</a>-->
    <!--                    </div>-->

    <!--                </div>-->
    <!--                &lt;!&ndash; modal-content &ndash;&gt;-->
    <!--            </div>-->
    <!--            &lt;!&ndash; modal-dialog &ndash;&gt;-->
    <!--        </div>-->
    <!--        &lt;!&ndash; End Modal menu left &ndash;&gt;-->

    <!-- Modal Menu Right -->
    <div class="modal right fade modal-menu modal-menu-right" id="menu_right" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="row m0">
                    <div class="col-xs-6 p0">
                        <a class="a-dky" href="#">
                            <i class="icon-sprite-24 icon-dky"></i> Đăng ký
                        </a>
                    </div>
                    <div class="col-xs-6 p0">
                        <a class="a-dnhap" th:href="@{/login}">
                            Đăng nhập
                        </a>
                    </div>
                </div>

                <div class="modal-header">
                    <ul class="list-menu-mb">
                        <li><a class="" href="https://choxe.net/tai-khoan">Quản lý Tài khoản</a></li>
                        <li><a class="" href="https://choxe.net/nang-cap-tai-khoan">Nâng cấp tài khoản</a></li>
                    </ul>
                </div>

                <div class="modal-header">
                    <ul class="list-menu-mb">
                        <li><a class="" href="https://choxe.net/thong-bao">Thông báo <span class="txt-red"></span></a></li>
                        <li><a class="" href="https://choxe.net/dang-tin">Đăng tin bán ô tô <span class="txt-num"></span></a></li>
                        <li><a class="" href="https://choxe.net/quan-ly-oto/dang-ban">Xe đang rao bán <span class="txt-num"></span></a></li>
                        <li><a class="" href="https://choxe.net/quan-ly-oto/da-ban">Xe đã bán <span class="txt-num"></span></a></li>
                        <li><a class="" href="https://choxe.net/quan-ly-oto/cho-duyet">Xe chờ duyệt <span class="txt-num"></span></a></li>
                    </ul>
                </div>


            </div>
            <!-- modal-content -->
        </div>
        <!-- modal-dialog -->
    </div>
    <!-- End Modal Menu Right -->

</div>
<!-- End Header mobile -->



<div class="main-content bg-light-blue"  >
    <div class="container">
        <div class="row m0">
            <!-- Column Left -->
            <div th:replace="~{fragments/web-fragments :: aside}"></div>
            <!-- End Column Left -->
            <!-- Column Right -->
            <div class="col-right pl30">
                <div class="hidden-xs">
                    <!-- Box Hãng xe -->
                    <div th:replace="~{fragments/web-fragments :: hangXe}"></div>
                    <!-- End Box hãng xe -->
                    <!-- Box Xe bán gấp -->
                    <p th:text="${thongbao}"></p>
                    <div id="block-2nd" th:replace="~{fragments/web-fragments :: boxBanXeGap}"></div>
                    <!-- End Box xe bán gấp -->
                    <!-- Xem xe theo tỉnh thành -->
                    <div th:replace="~{fragments/web-fragments :: tinhThanh}"></div>
                </div>
            </div><!-- End Column Right -->
        </div>
    </div>
</div>
<div th:replace="~{fragments/web-fragments :: footer}"></div>
<div id="btn-top">
    <i class="icon-sprite-24 icon-to-top"></i>
</div>

<!--    CSS-->
<link rel="stylesheet " type="text/css " href="/assets/frontend/css/choxef500.css?v=13">

<script type="text/javascript ">
        var bookmark_ids = [];
        var wishlist_ids = [];
    </script>
<script src="/assets/frontend/js/common30f4.js?v=3"></script>
<script src="/assets/frontend/js/js_mobile3860.js?v=1"></script>
<script src="/assets/frontend/js/jquery.mask.min.js"></script>
<script src="/assets/frontend/js/sortable3860.js?v=1"></script>
<script src="/assets/frontend/js/choxe0e34.js?v=33"></script>
<script src="https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=51vkdv3kfo80drfju5t1s7u9eae67dqqytn7k1mdleidgi2p"></script>

</body>

</html>